* {
	margin: 0; 
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    
}

li {
    border-radius: 4px;
    margin-bottom: 20px;
}

.btn {
    margin-right: 20px;
}


/* index.html */

#new-store-form {
    margin: 20px;
}

#new-store-name {
    margin-left: 20px;
}

/* items.html */

#new-item-form {
    margin: 20px;
}

.item-checkbox {
    margin-right: 20px;
}